.SmallText {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.SmallerText {
	FONT-SIZE: 9px; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.Small_Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.Category_text {
	FONT-SIZE: 10px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.Bold_Text {
	FONT-WEIGHT: bolder; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.12Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.Regular_text {
	FONT-SIZE: 14px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.Headline_Text {
	FONT-SIZE: 26px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.Detail_Title {
	FONT-SIZE: 18px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.12PointText {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.14Bold {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
