A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #999999; TEXT-DECORATION: none
}
A:hover {
	CURSOR: hand; COLOR: #ae6a6a; TEXT-DECORATION: none
}
A:active {
	COLOR: #000000; TEXT-DECORATION: none
}
.mainIntro {
	FONT-SIZE: 11px; FILTER: DropShadow (Color=#cccccc, OffX=5, OffY=5, Positive=true); FONT-FAMILY: Georgia
}
.shawdowText {
	FONT-SIZE: 10pt; FILTER: DropShadow (Color=#000000, OffX=1, OffY=1, Positive=true); WIDTH: 85%; COLOR: #ffffff
}
.articleSections {
	FONT-SIZE: 11px; FONT-FAMILY: Georgia
}
.mainLinksTable A:link {
	COLOR: #ffffff
}
.mainLinksTable A:visited {
	COLOR: #ffffff
}
.mainLinksTable A:hover {
	COLOR: #cccccc
}
.mainLinksTable A:active {
	COLOR: #cccccc
}
.bottomPart {
	FONT-SIZE: 11px; FONT-FAMILY: Georgia
}
.docLinks A:link {
	FONT-SIZE: 11px; COLOR: #000080; FONT-FAMILY: Georgia
}
.docLinks A:visited {
	FONT-SIZE: 11px; COLOR: #000080; FONT-FAMILY: Georgia
}
.docLinks A:hover {
	FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Georgia
}
.docLinks A:active {
	FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Georgia
}
