
.container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap:nowrap;
  justify-content: center;
}

main {
	flex:70%;
	padding:15px;
}

aside {
	flex: 30%;
	background-color:#03a9f4;
	padding:15px;
}

aside a {
	color:white;
}