.y_gcss_ovrtr_au {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0px; Z-INDEX: 2; VISIBILITY: visible; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 195px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #ffffff
}
.y_gcss_ovrtr_au_cbox {
	PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 175px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff
}
.y_gcss_ovrtr_msthd {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; Z-INDEX: 1; VISIBILITY: visible; BORDER-LEFT: #000000 1px solid; WIDTH: 195px; BORDER-BOTTOM: #000000 1px solid; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #ffffff
}
.y_gcss_ovrtr_cntr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; VISIBILITY: visible; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 195px; PADDING-TOP: 0px; TOP: 0px; BACKGROUND-COLOR: #ffffff
}
