#adStack {
	DISPLAY: none
}
#adtop {
	DISPLAY: none
}
#aolhatwrapper {
	DISPLAY: none
}
#footer {
	DISPLAY: none
}
#googleadb {
	DISPLAY: none
}
#header SPAN {
	DISPLAY: none
}
#maneuvers TH.textc {
	DISPLAY: none
}
#maneuvers TD.textc {
	DISPLAY: none
}
#mapcontrols {
	DISPLAY: none
}
#mapsummary P SPAN {
	DISPLAY: none
}
#nearby {
	DISPLAY: none
}
.printoptions {
	DISPLAY: none
}
.screen {
	DISPLAY: none
}
#titlebar {
	DISPLAY: none
}
#tofromSection {
	DISPLAY: none
}
#dirs .disclaimer P {
	DISPLAY: none
}
#dirsummary .offerwrap {
	DISPLAY: none
}
.quadad {
	DISPLAY: none
}
#rightpadding {
	DISPLAY: none
}
#rightcolumn {
	DISPLAY: none
}
.offers {
	DISPLAY: none
}
#dirs #results .mainwrapper {
	FLOAT: none; WIDTH: 640px
}
#maps #results .mainwrapper {
	FLOAT: none; WIDTH: 640px
}
#dirs #results .rightwrapper {
	WIDTH: 0px
}
#maps #results .rightwrapper {
	WIDTH: 0px
}
#dirs #results .rightwrapper .content {
	MARGIN: 0px
}
#maps #results .rightwrapper .content {
	MARGIN: 0px
}
A {
	COLOR: #000
}
A:visited {
	COLOR: #000
}
ADDRESS {
	FONT-SIZE: 12pt; COLOR: #000
}
LI {
	FONT-SIZE: 12pt; COLOR: #000
}
INPUT {
	FONT-SIZE: 12pt; COLOR: #000
}
LABEL {
	FONT-SIZE: 12pt; COLOR: #000
}
H3 {
	FONT-SIZE: 12pt; COLOR: #000
}
H4 {
	FONT-SIZE: 12pt; COLOR: #000
}
P {
	FONT-SIZE: 12pt; COLOR: #000
}
SELECT {
	FONT-SIZE: 12pt; COLOR: #000
}
TEXTAREA {
	FONT-SIZE: 12pt; COLOR: #000
}
TH {
	FONT-SIZE: 12pt; COLOR: #000
}
.para {
	FONT-SIZE: 12pt; COLOR: #000
}
TD {
	FONT-SIZE: 12pt; COLOR: #000
}
#dirman TD {
	FONT-SIZE: 12pt; COLOR: #000
}
TD {
	FONT-SIZE: 11pt
}
#dirman TD.totals {
	FONT-SIZE: 11pt
}
#dirman THEAD TH {
	FONT-SIZE: 11pt
}
#query H4 {
	FONT-SIZE: 11pt
}
TD TD {
	FONT-SIZE: 1em
}
P LABEL {
	FONT-SIZE: 1em
}
.startend B {
	FONT-SIZE: 1em
}
.indent .redstar B {
	FONT-SIZE: 1em
}
.alertwarning {
	FONT-SIZE: 8pt
}
.disclaimer P {
	FONT-SIZE: 8pt
}
#dirman {
	WIDTH: 600px
}
#maneuvers {
	WIDTH: 600px
}
#maneuvers {
	HEIGHT: 1px
}
.half DIV.fltl {
	WIDTH: 47%
}
.half DIV.fltr {
	WIDTH: 47%
}
#dirs .main {
	FLOAT: none
}
#dirsummary {
	WIDTH: 600px
}
#dirsummary .startend {
	FLOAT: none
}
#dirsummary .timedist SPAN {
	DISPLAY: block
}
.addresssummary P SPAN.screen {
	DISPLAY: none
}
#maneuvers {
	PAGE-BREAK-AFTER: always
}
#maneuvers TD {
	PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; page-break-inside: avoid
}
#maneuvers TD.manmap {
	BORDER-TOP-STYLE: none
}
#maneuvers TD.num {
	PADDING-RIGHT: 5px
}
.map {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; FLOAT: none; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
#mqmap {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; FLOAT: none; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.mapwidget {
	WIDTH: auto
}
.mapWrapper {
	PAGE-BREAK-BEFORE: auto; page-break-inside: avoid
}
.mapwrapperns7 {
	PAGE-BREAK-BEFORE: auto; page-break-inside: avoid
}
UNKNOWN {
	PAGE-BREAK-BEFORE: always! important
}
#notes {
	FONT-SIZE: 9pt
}
.print {
	DISPLAY: block
}
#query DIV H4.fltl {
	WIDTH: 65px
}
#query P {
	FONT-SIZE: 10pt
}
.startendprint H5 {
	FONT-SIZE: 10pt
}
.startendprint P {
	FONT-SIZE: 10pt
}
#redstar {
	MARGIN-TOP: 5px
}
.startendprint .fltr H5 {
	MARGIN-LEFT: 0px
}
.startendprint .fltr P {
	MARGIN-LEFT: 0px
}
.startendprint .fltr IMG.map {
	MARGIN-LEFT: 0px
}
.mapoptions {
	DISPLAY: none
}
.mapcontrols DIV.nw-n-ne IMG {
	DISPLAY: none
}
.mapcontrols DIV.sw-s-se IMG {
	DISPLAY: none
}
.mapcontrols DIV.east IMG {
	DISPLAY: none
}
.mapcontrols DIV.west IMG {
	DISPLAY: none
}
.mapcontrols FORM {
	DISPLAY: none
}
.mapcontrols {
	FLOAT: none; MARGIN: 0px
}
.mapwidget .panel {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.main {
	FLOAT: left; voice-family: inherit
}
.side {
	FLOAT: left; voice-family: inherit
}
UNKNOWN {
	FLOAT: left
}
 HTML .clear {
	HEIGHT: 1%; voice-family: inherit
}
