body {
  font-family: "open Sans";
}
* {
  margin: 0;
}
p {
  margin-top: 0.75rem;
  text-decoration: underline;
}
h1 {
  font-size: 1.2rem;
  page-break-before: always;
  counter-reset: heading;
  font-family: "Open Sans Condensed";
}
h2 {
  font-weight: normal;
  font-size: 1rem;
  margin-top: 1.4rem;
  line-height: 1.5;
  text-indent: -2rem;
  margin-left: 2rem;
}
h2::before {
  counter-increment: heading;
  content: counter(heading) ". ";
  margin-right: 0.2rem;
}
p + h2 {
  margin-top: 1rem;
}
h2 + ol {
  margin-top: 0.3rem;
}
ol li {
  list-style: upper-alpha;
  margin-top: 1em;
}
.answers-hidden h2 strong {
  color: transparent;
  border-bottom: 1px solid black;
  padding-left: 3rem;
}
.answers-hidden p strong {
  display: none;
}

.answers-hidden li strong {
  color: #fff;
  display: inline-block;
  border-bottom: 1px solid #000;
}

.answers-hidden strong {
  font-weight: normal;
}

.answers-hidden > li > strong {
  font-weight: normal;
  color: transparent;
  border-bottom: 1px solid black;
  padding-left: 3rem;
  min-width: 4em;
}
