* {
  margin: 0 0 0.5rem 0;
}
body {
  font-family: 'Open Sans';
  counter-reset: h1;
  font-size: 0.75rem;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans Condensed';
  line-height: 1.2;
}
h1 {
  font-size: 1.8rem;
  counter-increment: h1;
  counter-reset: h2;
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: 2px solid;
  border-top: 2px solid;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
}
h1::before {
  content: counter(h1) '. ';
}
h2 {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  counter-increment: h2;
  counter-reset: h3;
  background-color: #000;
  color: #fff;
  padding: 5px;
}
h1 + h2 {
  margin-top: 0;
}
h2::before {
  content: counter(h1) '.' counter(h2) '. ';
}
h3 {
  font-size: 1rem;
  counter-increment: h3;
  counter-reset: h4;
}
h3::before {
  content: counter(h1) '.' counter(h2) '.' counter(h3) '. ';
}
h4 {
  font-size: 0.9rem;
  counter-increment: h4;
  counter-reset: h5;
}
h4::before {
  content: counter(h1) '.' counter(h2) '.' counter(h3) '.' counter(h4) '. ';
}
h5 {
  font-size: 1.2rem;
  font-weight: 300;
  counter-increment: h5;
  counter-reset: h6;
}
h5::before {
  content: counter(h1) '.' counter(h2) '.' counter(h3) '.' counter(h4) '.' counter(h5) '. ';
}
h6 {
  font-size: 1rem;
  font-weight: normal;
  counter-increment: h6;
}
h6::before {
  content: counter(h1) '.' counter(h2) '.' counter(h3) '.' counter(h4) '.' counter(h5) '.' counter(h6) '. ';
}
table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #000;
  padding: 0.2rem;
}
th {
  background-color: #000;
  color: #fff;
  border-left: 1px dashed #fff;
  border-right: 1px dashed #fff;
}
th:first-of-type {
  border-left: 1px solid #000;
}
th:last-of-type {
  border-right: 1px solid #000;
}
ol,
ul {
  padding-left: 1.5rem;
}
ol[type='I'] + ol[type='A'] {
  padding-left: 2.5rem;
}
li {
  margin-bottom: 0.2rem;
}
blockquote {
  border-left: 5px solid;
  padding-left: 0.5rem;
  font-size: 0.7rem;
  font-style: italic;
}
image {
  display: none;
}
.title-page {
  break-after: page;
  height: calc(90vh - 100px);
  display: flex;
  flex-direction: column;
  border: 2px solid;
  padding: 2rem;
}
.book-meta {
  margin-top: 0;
  text-align: right;
  font-size: 1rem;
}
.title {
  margin-top: auto;
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
}
.subtitle {
  margin-bottom: auto;
  font-size: 2rem;
  text-align: center;
}

hr + ul {
  font-size: 0.6rem;
  list-style-type: none;
  padding: 0;
}

.highlights {
  border: 2px solid;
  padding: 0.5rem;
  break-before: auto;
}

.highlights h1 {
  border: none;
  padding: 0;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.highlights h1,
.highlights h2,
.highlights h3,
.highlights h4,
.highlights h5,
.highlights h6 {
  counter-increment: none;
}

.highlights h1::before,
.highlights h2::before,
.highlights h3::before,
.highlights h4::before,
.highlights h5::before,
.highlights h6::before {
  content: none;
}

@media print {
  section {
    column-count: 2;
    margin-bottom: 1rem;
    padding: 0 5px;
    column-gap: 2rem;
    break-before: auto;
    page-break-before: auto;
  }
  h1 {
    column-span: all;
    page-break-before: auto;
    break-inside: avoid;
    page-break-inside: avoid;
  }
  h2 {
    margin-left: -5px;
    margin-right: -5px;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-inside: avoid;
  }
  .highlights h1 {
    column-span: initial;
  }
}
@page {
  margin: 60px 40px 40px 110px;
  orphans: 3;
}
