BODY {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 14px; PADDING-BOTTOM: 10px; LINE-HEIGHT: normal; PADDING-TOP: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e6e6e6
}
TD {
	FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TH {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.small {
	FONT-SIZE: 9px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.medium {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.big {
	FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.xbig {
	FONT-SIZE: 24px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.expanded {
	FONT-SIZE: 12px; LINE-HEIGHT: 24px; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 2px
}
.justified {
	FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.pcmaintitle {
	FONT-WEIGHT: bolder; FONT-SIZE: 18px; COLOR: #336600; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.pcscripture {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.pctitle1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.pcauthor {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.pcemphasis {
	FONT-SIZE: 14px; COLOR: #ff3300; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.pcheading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #336600; PADDING-TOP: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.indentscripture {
	TEXT-INDENT: 30px; FONT-STYLE: italic
}
.pcheading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #336600; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.alittlesmaller {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
