BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12pt; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; WORD-SPACING: normal; COLOR: #000; LINE-HEIGHT: 14pt; PADDING-TOP: 0px; LETTER-SPACING: normal
}
BODY {
	FONT-FAMILY: Verdana, 'Lucida Grande', Geneva, Lucida, Arial, Helvetica, sans-serif
}
TABLE {
	FONT-FAMILY: Verdana, 'Lucida Grande', Geneva, Lucida, Arial, Helvetica, sans-serif
}
TH {
	FONT-FAMILY: Verdana, 'Lucida Grande', Geneva, Lucida, Arial, Helvetica, sans-serif
}
TD {
	FONT-FAMILY: Verdana, 'Lucida Grande', Geneva, Lucida, Arial, Helvetica, sans-serif
}
P {
	FONT-FAMILY: Verdana, 'Lucida Grande', Geneva, Lucida, Arial, Helvetica, sans-serif
}
DD {
	FONT-FAMILY: Verdana, 'Lucida Grande', Geneva, Lucida, Arial, Helvetica, sans-serif
}
DT {
	FONT-FAMILY: Verdana, 'Lucida Grande', Geneva, Lucida, Arial, Helvetica, sans-serif
}
#header {
	BACKGROUND-COLOR: transparent
}
#extras {
	BACKGROUND-COLOR: transparent
}
#content {
	BACKGROUND-COLOR: transparent
}
#footer {
	BACKGROUND-COLOR: transparent
}
#footer .langselector {
	DISPLAY: none; FLOAT: none! important
}
#ptwrapper {
	DISPLAY: none; FLOAT: none! important
}
.hide {
	DISPLAY: none; FLOAT: none! important
}
UL#pnav {
	DISPLAY: none; FLOAT: none! important
}
#inav {
	DISPLAY: none; FLOAT: none! important
}
#extras {
	DISPLAY: none; FLOAT: none! important
}
#rightextras {
	DISPLAY: none; FLOAT: none! important
}
#sidebar {
	DISPLAY: none; FLOAT: none! important
}
 HTML DIV#sidebar {
	DISPLAY: none; FLOAT: none! important
}
.right {
	FLOAT: none; WIDTH: auto
}
#homel {
	FLOAT: none; WIDTH: auto
}
#homer {
	FLOAT: none; WIDTH: auto
}
#header {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: transparent
}
#logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 30px; PADDING-BOTTOM: 24px; MARGIN: 0px; PADDING-TOP: 24px; BACKGROUND-COLOR: transparent
}
#navwrapper {
	PADDING-RIGHT: 0px; PADDING-LEFT: 30px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #666 1px solid; HEIGHT: 5px; BACKGROUND-COLOR: #009
}
#content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: none! important; PADDING-BOTTOM: 0px; MARGIN: 20px 30px 0px; PADDING-TOP: 0px
}
#footer {
	CLEAR: both; MARGIN: 10px 30px; TEXT-ALIGN: center
}
#copyright {
	FONT-SIZE: 0.8em; BACKGROUND: #fff; COLOR: #666
}
A.nounder {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; BACKGROUND: #fff; COLOR: #000
}
A.nounder:link {
	TEXT-DECORATION: none
}
A.nounder:visited {
	TEXT-DECORATION: none
}
A.right:link {
	TEXT-DECORATION: none
}
A.right:visited {
	TEXT-DECORATION: none
}
A IMG {
	TEXT-DECORATION: none
}
A.nounder:hover {
	TEXT-DECORATION: underline
}
A.nounder:active {
	TEXT-DECORATION: underline
}
A.right:hover {
	TEXT-DECORATION: underline
}
A.right:active {
	TEXT-DECORATION: underline
}
A:link {
	TEXT-DECORATION: underline
}
A:hover {
	TEXT-DECORATION: underline
}
A:active {
	TEXT-DECORATION: underline
}
A:visited {
	TEXT-DECORATION: underline
}
A.right {
	FONT-WEIGHT: normal; FONT-SIZE: 1em; BACKGROUND: #fff; COLOR: #666
}
A {
	BACKGROUND: #fff; COLOR: #009
}
LI {
	DISPLAY: list-item; LIST-STYLE-IMAGE: url(/images/i-grey.gif)
}
HR {
	BORDER-TOP: #ccc 1px solid
}
EM {
	FONT-STYLE: italic
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.8em; LINE-HEIGHT: 1em
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; LINE-HEIGHT: 16px
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; PADDING-BOTTOM: 3px; LINE-HEIGHT: 14px
}
H4 {
	FONT-SIZE: 12px; LINE-HEIGHT: 13px
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000; LINE-HEIGHT: 12px
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; LINE-HEIGHT: 14px
}
.homebox {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #666 1px solid; PADDING-LEFT: 5px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #666 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #666 1px solid
}
.bptext {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; FONT-STYLE: italic; TOP: -100px
}
.bpverse {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; TOP: -100px; TEXT-ALIGN: justify
}
.error {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #c00; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.imageframe {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; MARGIN: 5px 10px; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
.lang {
	RIGHT: 30px; FLOAT: none
}
DIV.row {
	CLEAR: right; PADDING-TOP: 5px
}
DIV.row SPAN.label {
	FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 150px; PADDING-TOP: 5px; TEXT-ALIGN: right
}
DIV.row SPAN.labelerror {
	FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 150px; COLOR: #c00; PADDING-TOP: 5px; TEXT-ALIGN: right
}
DIV.row SPAN.labelleft {
	FLOAT: none; WIDTH: 150px; TEXT-ALIGN: left
}
DIV.row SPAN.formw {
	FLOAT: right; PADDING-BOTTOM: 5px; WIDTH: 250px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
DIV.spacer {
	CLEAR: right
}
#formcontrols {
	BORDER-RIGHT: #333 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #333 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px auto; BORDER-LEFT: #333 1px solid; WIDTH: 410px; PADDING-TOP: 5px; BORDER-BOTTOM: #333 1px solid; BACKGROUND-COLOR: #fff
}
DIV.clear {
	CLEAR: both
}
DIV UL.tletter {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV UL.tletter LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 12px 0px 0px; PADDING-TOP: 0px
}
DIV UL.tletter LI UL.letter {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 38px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
DIV UL.tletter LI UL.col {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 2px 0px 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: square
}
DIV UL.tletter LI UL.col LI {
	PADDING-RIGHT: 0px; DISPLAY: list-item; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 138px; PADDING-TOP: 0px; LIST-STYLE-TYPE: square
}
.backto {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px 400px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
DIV.backto A {
	COLOR: #666
}
