BODY {
	MARGIN: 0px; FONT: 85% Verdana,Tahoma,Helvetica; BORDER-LEFT: #dc0000 5px solid; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
A:link {
	COLOR: #3151a0; TEXT-DECORATION: none
}
A:visited {
	COLOR: #3151a0; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #3151a0; TEXT-DECORATION: none
}
A:active {
	COLOR: #ffffff; BACKGROUND-COLOR: #3151a0; TEXT-DECORATION: none
}
A:link IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
A:visited IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
A:active IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
A:hover IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
TABLE {
	FONT: 85% Verdana,Tahoma,Helvetica
}
HR {
	WIDTH: 98%; COLOR: #dc0000; HEIGHT: 2px; BACKGROUND-COLOR: #dc0000
}
H3 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #8fafff; TEXT-ALIGN: center
}
H2 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #8fafff; TEXT-ALIGN: center
}
.title {
	BACKGROUND: url(tile.png) repeat-x
}
.menuhead {
	BORDER-RIGHT: #000000 3px double; PADDING-RIGHT: 2px; BORDER-TOP: #000000 3px double; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 3px double; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 3px double; BACKGROUND-COLOR: #8fafff; TEXT-ALIGN: center
}
.menubody {
	BORDER-RIGHT: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #f0f0f0
}
.menuitem {
	PADDING-RIGHT: 2px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #f0f0f0
}
.menuitem2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #f0f0f0
}
.menuitem A:link {
	DISPLAY: block
}
.menuitem A:active {
	DISPLAY: block
}
.menuitem A:visited {
	DISPLAY: block
}
.menuitem A:hover {
	DISPLAY: block
}
.menuitem2 A:link {
	DISPLAY: block
}
.menuitem2 A:active {
	DISPLAY: block
}
.menuitem2 A:visited {
	DISPLAY: block
}
.menuitem2 A:hover {
	DISPLAY: block
}
.menulink {
	BORDER-TOP: #000000 1px solid
}
.menulink A:link {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px; BACKGROUND-COLOR: #f0f0f0
}
.menulink A:visited {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px; BACKGROUND-COLOR: #f0f0f0
}
.menulink A:hover {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #ffffff; PADDING-TOP: 2px; BACKGROUND-COLOR: #3151a0
}
.menulink A:active {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #ffffff; PADDING-TOP: 2px; BACKGROUND-COLOR: #3151a0
}
.quicklink {
	BORDER-RIGHT: #000000 1px dashed; PADDING-RIGHT: 5px; BORDER-TOP: #000000 1px dashed; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #000000 1px dashed; PADDING-TOP: 5px; BORDER-BOTTOM: #000000 1px dashed; TEXT-ALIGN: center
}
.quicklink A:link {
	DISPLAY: block; BACKGROUND-IMAGE: none
}
.quicklink A:visited {
	DISPLAY: block; BACKGROUND-IMAGE: none
}
.quicklink A:active {
	DISPLAY: block; BACKGROUND-IMAGE: none
}
.quicklink A:hover {
	DISPLAY: block; BACKGROUND-IMAGE: none
}
.date {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 5px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #8fafff
}
.heading {
	FONT-WEIGHT: bold; BORDER-BOTTOM: #3151a0 1px solid; BACKGROUND-COLOR: #f0f0f0
}
.article {
	BORDER-RIGHT: #8fafff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #8fafff 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #8fafff 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #8fafff 1px solid
}
.posted {
	PADDING-RIGHT: 5px; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: right
}
.pages {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; BORDER-LEFT: #000000 1px solid; WIDTH: 10px; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #8fafff
}
.pages A:link {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #f0f0f0; TEXT-DECORATION: none
}
.pages A:visited {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #f0f0f0; TEXT-DECORATION: none
}
.pages A:hover {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; BORDER-LEFT: #000000 1px solid; COLOR: #8fafff; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.pages A:active {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; BORDER-LEFT: #000000 1px solid; COLOR: #8fafff; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
TEXTAREA {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #8fafff
}
INPUT {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #8fafff
}
SELECT {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #8fafff
}
BLOCKQUOTE {
	PADDING-RIGHT: 8px; BORDER-TOP: #c0c0c0 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: #eeeeee; PADDING-BOTTOM: 8px; COLOR: #000000; LINE-HEIGHT: 150%; PADDING-TOP: 8px; BORDER-BOTTOM: #c0c0c0 1px solid; FONT-FAMILY: Verdana,Tahoma,Helvetica; TEXT-ALIGN: left
}
.BLOCKQUOTE2 {
	PADDING-RIGHT: 8px; BORDER-TOP: #c0c0c0 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: #ffffff; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 8px; COLOR: #000000; LINE-HEIGHT: 100%; PADDING-TOP: 8px; BORDER-BOTTOM: #c0c0c0 1px solid; FONT-FAMILY: Verdana,Tahoma,Helvetica
}
.BLOCKQUOTE3 {
	PADDING-RIGHT: 8px; BORDER-TOP: #c0c0c0 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 8px; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: #eeeeee; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 8px; COLOR: #000000; LINE-HEIGHT: 100%; PADDING-TOP: 8px; BORDER-BOTTOM: #c0c0c0 1px solid; FONT-FAMILY: Verdana,Tahoma,Helvetica
}
