html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

 h2 {
      color: blue;
    }
  blockquote  {
    border-left: solid 5px orange;
    padding-left:10px;
  }

main {
 margin: auto 10px;
}

 h1 input{
        font-size:inherit;
    }