/* New Line TEMPLATE: 	<p><span></span></p>	*/
/* Tags: 	p, a, h1, h2, h3, h4, h5, h6, table, th, tr, td, blockquote */
/* Classes & Id's: 	.subtitle, .emb-outline, .questions-page, #title-page, #toc-page	*/

/*basic typography */
html {background-color:gray; margin:0; padding:0;}
body{width:8.5in; counter-reset:h1; background-color:white; margin-left: auto; margin-right:auto; padding:5em; font-size: 15px; font-family:arial, serif;}

h1 {
	font-size: 200%;
	margin: 0 0 1.125em 0;
	padding-top:1.5em;
	text-align:center;
}

h2 {
	font-size: 125%;
	margin: 1.286em 0 1.286em 0;
	text-indent: 0em;
}
h3 {
	font-size: 115%;
	margin: 1em 0 0em 0;
	text-indent: 1em;
}
h4 {
	font-size: 105%;
	margin: 1em 0 0em 0;
	text-indent: 2em;
}
h5 {
	font-size: 100%;
	margin: 1em 0 0em 0;
	text-indent: 3em;
}
h6{
	font-size: 100%;
	margin: 1em 0 0em 0;
	text-indent: 4em;
}
p {
	font-size: 100%;
	margin-bottom: 0;
	text-indent:2em;
	font-size:1em;
}

.subtitle {
	margin-top: 0em;
	text-align:center; 
	font-size: 100%;
}
blockquote {font-size:1em; text-indent:-1em; font-style:italic; margin-left:2em; margin-bottom:0;}
.swahili{display:none; }
.english{display:inline; }
.questions-page h3 {color:gray;}
a {color:black; text-decoration:none;}

/*Primary Outline Autonumbering */
h1{counter-increment:h1; counter-reset:h2;}
h2{ counter-increment:h2; counter-reset: h3; }
h3{ counter-increment:h3; counter-reset: h4; }
h4{ counter-increment:h4; counter-reset: h5; }
h5{ counter-increment: h5; counter-reset: h6; }
h6{ counter-increment: h6; }

h1:before{ content: counter(h1,none) " ";}
h2:before{ content: counter(h2,upper-roman) ". ";}
h3:before{ content: counter(h3,upper-alpha) ". ";}
h4:before{ content: counter(h4,decimal) ". ";}
h5:before{ content: counter(h5,lower-alpha) ". ";}
h6:before{ content: counter(h6,decimal) ") ";}

/*Embedded Outline Autonumbering */
.emb-outline{ counter-reset: h1;}
.emb-outline h1{ counter-increment: h1;	counter-reset: h2;  text-align:left; padding:0; margin-left:3em; page-break-before:avoid; }
.emb-outline h2{ counter-increment: h2;	counter-reset: h3; font-weight:normal; font-size:1em; margin-bottom:0;}
.emb-outline h3{ counter-increment: h3;	counter-reset: h4;  font-weight:normal;}
.emb-outline h4{ counter-increment: h4;	counter-reset: h5;  font-weight:normal;}
.emb-outline h5{ counter-increment: h5;	counter-reset: h6; font-weight:normal;}
.emb-outline h6{ counter-increment: h6; font-weight:normal;}
.emb-outline h1:before{ content: counter(h1,none) " ";}
.emb-outline h2:before{ content: counter(h2,upper-roman) ". ";}
.emb-outline h3:before{ content: counter(h3,upper-alpha) ". ";}
.emb-outline h4:before{ content: counter(h4,decimal) ". ";}
.emb-outline h5:before{ content: counter(h5,lower-alpha) ". ";}
.emb-outline h6:before{ content: counter(h6,none);}

.emb-outline {border-left-style:solid; border-left-width:.1em; margin-left:3.5em; margin-top:1em; margin-bottom:2em; padding-left:1em; }
.emb-outline h1 {font-size:1em;  margin-top:1.5em; padding:0; text-align:left; margin-left:2em;}
.emb-outline h1 +  h1 {padding:0; margin-top:0; }

/*title page */
#title-page {padding:4em 2em 4.75em 1em; border-style:double; border-width:5px; height:11in;}
#title-page h1 {text-align:left; font-size:3em; text-transform:uppercase; margin-left:5.85em; margin-top:6em; page-break-before:avoid; padding-top:0;}
#title-page h2 {text-align:left; font-size:1.75em; margin-top:0; margin-left:10em; margin-bottom:10em; text-indent:0;}
#title-page h3 {text-align:right; font-weight:bold; }
#title-page h4 {text-align:right; }
#title-page  img {width:541; height:475; position: absolute; margin-left:2em; margin-top:11em;}
#title-page h1:before, #title-page h2:before, #title-page h3:before, #title-page h4:before { content: counter(h1,none) "";}

/*table of contents page */
#toc-page h1 {text-align:center; margin-bottom:2em; text-indent:0; font-size:2em;  margin-left:0; padding-left;0; padding-top:1.5em;	text-align:center;	page-break-before:always;}
#toc-page h2 {text-align:center; margin-bottom:2em; text-indent:0; font-size:1.5em; margin-left:0; padding-left;0;}
#toc-page h1:before, #toc-page h2:before, #toc-page h3:before, #toc-page h4:before { content: counter(h1,none) "";}

/*Questions pages h2 = the questions & h3 = the answers*/
.questions-page h1:before, .questions-page h3:before { content: counter(h1,none) "";}
.questions-page h2:before { content: counter(h2,decimal) ". ";}
.questions-page h1 {margin-bottom:1em; text-indent:0; font-size:1.5em; padding-top:1.5em; padding-left:0; margin-left:0; page-break-before:always; text-align:center;}
.questions-page h2 {text-align:left; margin-top:1em; margin-bottom:0; text-indent:0; font-size:1em; padding-top:0em; page-break-after:avoid;}
.questions-page h3 {text-align:left; margin-top:0; margin-bottom:0; padding-bottom:0; text-indent:1em; font-size:1em; font-style:italic;}

table {border:solid; width:100%; border-collapse:collapse; border-width:.1em; margin-top:1em;}
th {border:solid; background-color:gray; border-width:.1em;}
tr {border:solid; border-width:.1em;}
td {border:solid; border-width:.1em; padding:.25em;}

/* similar formatted lines in sequence */
p + p, h4 + h4, h5 + h5, h6 + h6 {margin-top: 0;}
h1+h1{padding-top:0;}
blockquote+blockquote {margin-top:0; margin-bottom:0; padding-top:0; padding-bottom:0;}

@media print {
body {	font-size: 13pt;}
h1, .first {	page-break-before:always;	padding-top:0;}
.questions-page h1 {padding-top:0;}
.noPrint {display:none;}
table {page-break-inside:avoid;}
  * {text-shadow: none !important; color: #000 !important; background: transparent !important; box-shadow: none !important; }
}