IMG.latex {
	VERTICAL-ALIGN: middle; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
FORM.contact-form {
	WIDTH: 100%; TEXT-ALIGN: left
}
FORM.contact-form TEXTAREA {
	WIDTH: 96%
}
FORM.contact-form LABEL {
	DISPLAY: inline; FLOAT: none
}
.form-error {
	COLOR: maroon
}
FORM.contact-form P LABEL.form-error {
	COLOR: maroon
}
.video-player {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 5px; MARGIN: auto; PADDING-TOP: 5px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
.wpvidavee_title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; LINE-HEIGHT: 12px; PADDING-TOP: 2px; FONT-FAMILY: Tahoma,Arial,sans-serif; TEXT-ALIGN: left
}
.wpvidavee_footer {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 9px; PADDING-BOTTOM: 2px; LINE-HEIGHT: 11px; PADDING-TOP: 2px; FONT-FAMILY: Tahoma,Arial,sans-serif; TEXT-ALIGN: right
}
.wpvidavee_footer A {
	TEXT-DECORATION: none
}
.wpvidavee_p {
	COLOR: red
}
.hidden {
	DISPLAY: none
}
.possibly-related {
	CLEAR: both
}
