A {
	COLOR: #006699
}
A:visited {
	COLOR: #666633
}
A:hover {
	COLOR: #333333; TEXT-DECORATION: none
}
.doctitle {
	FONT-WEIGHT: lighter; FONT-SIZE: 14px; COLOR: #aa6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.breadcrumbs {
	FONT-WEIGHT: bolder; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.breadcrumbs A {
	FONT-WEIGHT: lighter; COLOR: #575368
}
.breadcrumbs A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.breadcrumbs A:visited {
	COLOR: #575368; TEXT-DECORATION: underline
}
.breadcrumbs A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.sitetools {
	FONT-WEIGHT: bolder; FONT-SIZE: 9px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.sitetools:hover {
	COLOR: #cccccc
}
.sitetools:visited {
	COLOR: #ffffff
}
.sitetools:hover {
	COLOR: #cccccc
}
.text {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.smalltext {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.alttab {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; PADDING-TOP: 5px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.alttabhref {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.alttabhref:hover {
	COLOR: gray
}
.altsubmenu {
	FONT-SIZE: 11px; PADDING-BOTTOM: 8px; PADDING-TOP: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.altsubmenuhref {
	COLOR: #000000
}
.altsubmenuhref:hover {
	COLOR: gray; TEXT-DECORATION: none
}
.altsidetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.altsideitems {
	FONT-SIZE: 11px; COLOR: #385074
}
.altsidetitle A {
	COLOR: #444444; TEXT-DECORATION: none
}
.altsidetitle A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.caption {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.profiletext {
	FONT-SIZE: 14px; COLOR: #667b7b; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.profiletext_20pt {
	FONT-SIZE: 20px; COLOR: #667b7b; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.ANNTitle {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px
}
.breakhere {
	PAGE-BREAK-BEFORE: always
}
